<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>639871064496-pe9ll080fpafavgec2jopoavtamcu1ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639871064496-pe9ll080fpafavgec2jopoavtamcu1ou</string>
	<key>API_KEY</key>
	<string>AIzaSyCCESlWXw3WMdCO4xO5Vs5W7HMsk-8zRBA</string>
	<key>GCM_SENDER_ID</key>
	<string>639871064496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Abdulelah.JoinUS</string>
	<key>PROJECT_ID</key>
	<string>joinus-81678</string>
	<key>STORAGE_BUCKET</key>
	<string>joinus-81678.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:639871064496:ios:fae8f1be733e24b4</string>
	<key>DATABASE_URL</key>
	<string>https://joinus-81678.firebaseio.com</string>
</dict>
</plist>